
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Settings</title>
    <script src="js/jquery-1.11.0.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/settings.css" rel="stylesheet">
    <link href="/css/profile.css" rel="stylesheet">
    <script src="/js/profile.js"></script>

  </head>
  <body>

    <main role="main">
        <div class="headbar">
           <a href="index">            
                <img src="/images/leftarrow.png" class="back-button img-responsive">
            </a>

            <div class="profileTitle">
                <span class="notes">PROFILE</span>
            </div>

            <a href="index">            
                <img src="/images/homeicon.png" class="home-button img-responsive">
            </a> 
        </div>

        <div class="profile"></div>

        <div class="username"></div>

        <div class="functions">
            <div class="infobars">
                <span class="notes">Username</span>
                <div class="notes-right" id="userid"></div>
            </div>

            <div class="infobars">
                <span class="notes phone">Phone
                    <input class="notes-right phone-input" value="">
                </span>
            </div>

            <div class="padding"></div>
            
            <div class="infobars">
                <span class="notes">Family Members</span>
                <a href="familymembers"><img src="images/rightarrow.png" class="rightarrow"></a>
            </div>

            <div class="padding"></div>
            
            <div class="infobars">
                <span class="notes">Recording History</span>
                <a href="result-history">
                <img src="images/rightarrow.png" class="rightarrow"></a>
            </div>
        </div>

        <div class="logoutbar">
                <a href="/" class="logout">Log Out</a>
        </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (blelow), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
