
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recording...</title>
    
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/fetch.js"></script>
    <script src="js/watson-speech.js"></script>
    <script src="js/record.js"></script>

    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/record.css" rel="stylesheet">

  </head>

  <body class="main-screen">


    <main role="main">
        <div class="notes">RECORDING</div>
        <div class="text-panel">
            <div class="text-trans">Siyuan: iauwehfiauewh iaouwe iauew fliauwefn liauwen liauwefn liawefn ilaeuwfn liauewfn laiuewfn liaweufn alwiefn ilawefbailewuf laiewfn ilaewfn liauewbf iulawebf liawufb lawiebf </div>
            <div class="text-trans" id="toBeAdded"></div>

        </div>
        <a href="#">
            <img class="pause-btn img-responsive" src="images/PauseButton.png">
        </a>
        <a href="#">
            <img class="stop-btn img-responsive" src="images/StopButton.png">
        </a>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (blelow), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
