
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Record History</title>
    
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">

  </head>

  <body class="main-screen">


    <main role="main" class="container">
        <div class="headbar">
           <a href="profile">            
                <img src="/images/leftarrow.png" class="back-button img-responsive">
            </a>

            <a href="/">            
                <img src="/images/homeicon.png" class="home-button img-responsive">
            </a> 
        </div>
        <a href="result2" style="color: white; font-size: 8em">View</a>
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (blelow), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
