
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Settings</title>

    <script src="js/jquery-1.11.0.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/settings.css" rel="stylesheet">
    <script src="/js/settings.js"></script>

  </head>
  <body>


    <main role="main">
        <div class="headbar">
           <a href="index">            
                <img src="/images/leftarrow.png" class="back-button img-responsive">
            </a>

            <div class="set-alert img-responsive">
                <span class="notes">SET ALERT</span>
            </div>

            <a href="index">            
                <img src="/images/homeicon.png" class="home-button img-responsive">
            </a> 
        </div>

        <div class="routine-bar">
            <span class="notes">{{routine.[0].time}}</span>
            <span>
                <a href="#" id="routine-button">
                    <img src="/images/switchoff.png" class="switch-button img-responsive" align="right">
                </a>
            </span>
        </div>

        <div class="routines">
            <div class="notes-routine-left"> REPEAT<br></div>
            <div class="notes-routine-right">{{routine.[1].repeat}} <br></div>
            <div>
                <a href="settings-routine">
                    <img src="/images/rightarrow.png"  class="right-arrow">
                </a>
            </div>
        </div>

        <div class="plus">
            <span>
                <a href="/" id="plus-button">
                    <img src="/images/plusicon.png" class="img-responsive" align="bottom">
                </a>
            </span>
        </div>
        
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (blelow), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
