.play-button {
	max-height: 40vh; 
	width: 70vw; 
	max-width: 40vh; 
	position: absolute;
	top: 50%; 
	left: 50%;
	margin-right: -50%; 
	transform: translate(-50%, -50%);
}

.notes {
	position: absolute;
	font-size: 4vw; 
	color: #E3E3E3; 
	left: 50%;
	top: 25vh; 
	margin-right: -50%; 
	transform: translate(-50%, -50%);
	z-index: 1; 
}

.setting-button {
	width: 8vw; 
	max-width: 8vh; 
	max-height: 8vh; 
	position: absolute;
	right: 7.5vw;
	bottom: 7.5vw;
}

.profile-button {
	width: 13vw; 
	max-width: 13vh; 
	max-height: 13vh; 
	position: absolute;
	left: 5vw;
	bottom: 5vw;
}
