.infobars {
	position:relative;
	border: 1px black solid;
	background-color: #255D6E; 
	font-size: 7vw;
	height: 7vh;
	width: 100vw;
	color: #E3E3E3; 
}

.padding {
	background-color: transparent;
	height: 5vh;
	width: 100vw;
}

.title {
	position: absolute;
	font-size: 4vw; 
	color: #E3E3E3; 
	left: 50%;
	top: 6vh;
	margin-right: -50%; 
	transform: translate(-50%, -50%);
	z-index: 1; 
}

.profile-photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: 32%;
	height: 20vh;
	width: 20vh;
	position: absolute;
	top: 18vh; 
	border-radius: 50%;
}

.back-button {
	width: 11vw; 
	max-width: 9vh; 
	max-height: 9vh; 
	position: absolute;
	left: 3vw;
	top: 3vh;
}

.home-button {
	width: 11vw; 
	max-width: 9vh; 
	max-height: 9vh; 
	position: absolute;
	right: 3vw;
	top: 3vh;
}

.profileTitle {
	position: absolute;
	font-size: 4vh;
	top: 6.5%;
	left: 40%;
	transform: translate(-25%, -50%);
}

.username{
	position: absolute;
	float: right;
  	top: 39vh;
	font-size: 7vw;
  	color: #D3A9AC;
  	margin-left: auto;
	margin-right: auto;
	left: 32%;
}

.functions{
	position:absolute;
	top: 49vh;
}

.notes-right {
	position: relative;
	float: right;
  	top: 50%;
  	margin-right: 3vw;
  	transform: translateY(-50%);
  	color: #D3A9AC;
  	width: 40%;
  	overflow: scroll;
}

.rightarrow {
	width: 5vh;
	height: 5vh;
	display: block;
	position: relative;
	float: right;
  	top: 50%;
  	margin-right: 1vw;
  	transform: translateY(-50%);
}

.notes {
	vertical-align: middle;
	position: relative;
	margin-left: 2vw;
	color: #E3E3E3;
}

.logoutbar {
	position:absolute;
	bottom:0;
	border: 1px black solid;
	background-color: #D3A9AC; 
	font-size: 7vw;
	text-align: center;
	height: 7vh;
	width: 100vw;
	color: #1F3139; 
}

.logout {
	vertical-align: middle;
	position: relative;
	text-align: center;
	color: #1F3139;
	margin-top: auto;
	margin-bottom: auto;
}
