body {
	background: linear-gradient(#1F3139, #255D6E);
	background-repeat: no-repeat;
	font-family: 'Skia';
	color: #E3E3E3;
}

body.main-screen {
	background: radial-gradient(#255D6E, #1F3139);
	background-repeat: no-repeat;
	font-family: 'Skia';
	color: #E3E3E3;
}

h1 {
	color:"white";
	font-size: 12px;
}

ol {
  bottom;
  padding: 0;
  	height: 1vh;
	width: 100vw;

}

ol li {
 	bottom;
	border: 1px black solid;
	text-indent: 3vw;
	background-color: #255D6E; 
	font-size: 7vw;
	list-style-type: none;
}

.infobars {
	bottom;
	border: 1px black solid;
	text-indent: 3vw;
	background-color: #255D6E; 
	font-size: 7vw;
	height: 7vh;
	width: 100vw;
}

.padding {
	background-color: transparent;
	height: 7vh;
	width: 100vw;
}

.title {
	position: absolute;
	font-size: 4vw; 
	color: #E3E3E3; 
	left: 50%;
	top: 6vh;
	margin-right: -50%; 
	transform: translate(-50%, -50%);
	z-index: 1; 
}

.profile-photo {
	position: relative;
	top: 75%; 
	left: 50%;
}

.back-button {
	width: 11vw; 
	max-width: 9vh; 
	max-height: 9vh; 
	position: absolute;
	left: 3vw;
	top: 3vh;
}

.home-button {
	width: 11vw; 
	max-width: 9vh; 
	max-height: 9vh; 
	position: absolute;
	right: 3vw;
	top: 3vh;
}

#fm-continue-button {
	width: 11vw; 
	max-width: 9vh; 
	max-height: 9vh; 
	position: absolute;
	right: 3vw;
	top: 3vh;
}

#rh-continue-button {
	width: 11vw; 
	max-width: 9vh; 
	max-height: 9vh; 
	position: absolute;
	right: 3vw;
	top: 3vh;
}