.play-button {
	max-height: 40vh; 
	width: 70vw; 
	max-width: 40vh; 
	position: absolute;
	top: 50%; 
	left: 50%;
	margin-right: -50%; 
	transform: translate(-50%, -50%);
}

.notes {
	margin-left: 4vw;
	color: #E3E3E3;
}

.notes-routine-left {
	position: relative;
	float: left; 
  	top: 50%;
  	transform: translateY(-50%);
	margin-left: 4vw;
	color: #E3E3E3;
}

.notes-routine-right {
	position: relative;
	float: right;
  	top: 50%;
  	transform: translateY(-50%);
  	color: #D3A9AC;
}

.back-button {
	width: 11vw; 
	max-width: 9vh; 
	max-height: 9vh; 
	position: absolute;
	left: 3vw;
	top: 3vh;
}

.home-button {
	width: 11vw; 
	max-width: 9vh; 
	max-height: 9vh; 
	position: absolute;
	right: 3vw;
	top: 3vh;
}

.switch-button {
	margin-right: 3vw; 
	height: 6vh;
	margin-top: 0.3vh;
}

.routine-bar {
	margin-top: calc(12vh);
	background-color: #255D6E; 
	height: 6vh;
	width: 100vw;

	font-size: 3vh;
	line-height: 6vh; 
	border: 1px black solid;
}

.routines {
	border: 1px black solid;
	margin-top: -1px;
	background-color: #255D6E; 
	height: 12vh;
	width: 100vw;
	display: none; 
	font-size: 2vh;
}

.right-arrow {
	position: absolute;
	right: 2vw; 
	height: 6vh;
	margin-top: 2.5vh;
}